*{
  margin: 0;
  padding: 0;
}
a:hover{
  color: red;
  cursor:pointer;
}
a{
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
.head_map {
  width: 60px;
  height: 32px;
  line-height: 32px;
  color: #999;
}
.head_map img {
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.list_map {
  position: relative;
  width: 320px;
  height: 240px;
  background-color: #fff;
  z-index: 10;
  border: 1px solid #eee;
  border-left: 0px solid #000;
  border-top: 1px solid transparent;
}
.location {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  margin: 2px;
  font-size: 14px;
  
  /* background-color: #eee; */
}
.overLocation {
  background-color: #eee;
}
.isSelect {
  background-color: red;
  color: #fff;
}
.isOver{
  background-color: #fff;
  color: red
}