a:hover{
  color: red;
  cursor:pointer;
}
a{
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
.clientServer-header {
  position: relative;
}
.clientServer-header .down {
  position: absolute;
  right: 0;
  top: 6px;
}
.clientServer-header img {
  width: 18px;
  height: 18px;
}
.clientServer-item {
  width: 174px;
  height: 160px;
  position: absolute;
  border: 1px solid #eee;
  border-left: 0px solid #000;
  border-top: 0px solid #000;  
  background-color: #fff;
  z-index: 999;
}
.title {
  width: 77px
}
.title a {
  width: 70px;
}
.username {
  width: 170px;
  font-size: 12px;
  font-weight: 600;
  color: #666;
  padding-left: 12px;
}
.clientContent {
  width: 75px;
  float: left;
  text-align: center;
}
.item-content {
  margin: 0;
  padding: 0;
}