a:hover{
  color: red;
  cursor:pointer;
}
a{
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
.JDbuy-header {
  position: relative;
}
.JDbuy-header .down {
  position: absolute;
  right: 0;
  top: 6px;
}
.JDbuy-header img {
  width: 18px;
  height: 18px;
}
.JDbuy-content {
  width: 140px;
  height: 60px;
  border: 1px solid #eee;
  border-top: 1px solid #fff;
  border-left: 0px solid #000;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}
.item ul li {
  width: 60px;
  height: 30px;
  float: left;
}