.shoppingCar-content {
  width: 190px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  text-align: center;
  z-index: 888;
}
.shoppingCar-content a {
  color: #f10214;
  font-size: 12px;
  line-height: 30px;
}
.car img{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 40px;
  top: 7px;
}
.count {
  width: 14px;
  height: 14px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 50px;
  top: 3px;
}
.shoppingCar-content_item {
  width: 330px;
  height: 88px;
  line-height: 88px;
  background-color: #fff;
  position: absolute;
  right: 0px;
}
.shoppingCar-content_item .noShopping {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 49px;
  background-image: url(//img11.360buyimg.com/uba/jfs/t3571/299/131233948/1117/a1196554/58004d6dN2927f0f7.png);
  position: absolute;
  left: 30px;
  top: 16px;
  z-index: 10;
}
.shoppingCar-content_item span {
  position: absolute;
  left: 100px;
  font-size: 12px;
  color: #666;
}
.shoppingCar-content_header {
  width: 190px;
}