.App{
  width: 100%;
  height: 100%;
  background-color: #eee;
}
body{
  background-color: #eeeeee;
}
* {
  margin: 0;
  padding: 0;
}
.header-banner {
  width: 1349px;
  background-color: #4a0101;
}
.header-top {
  width: 1349px;
  height: 33px;
  background-color: #e3e4e5;
  position: relative;
  border-bottom: 1px solid #eee;
}

.header-top_map {
  width: 30px;
  position: absolute;
  left: 300px;
}
.header-top_index {
  position: absolute;
  left: 188px;
}

.header-top_login {
  width: 160px;
  position: absolute;
  left: 540px
  /* margin-left: 420px; */
}
.header-top_list {
  position: absolute;
  left: 685px;
}
.header-top_list ul li{
  /* display: inline-block; */
  width: 77px;
  line-height: 31px;
  padding: 0px 3px;
  list-style: none;
  float: left;
  /* position: relative; */
}
.normal {
  font-size: 14px;
  color: #aaa;
  line-height: 34px;
}
.red {
  color: red;
}

.header-top_list .icon1 {
  overflow: hidden;
  float: left;
  margin: 13px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
  z-index: 500;
}
.banner-img {
  width: 100%;
  height: 80px;
  display: block;
  background: url(//img30.360buyimg.com/da/jfs/t24601/354/1058949598/49265/41b7b356/5b861b3fNaa6b20f1.jpg) no-repeat 50% 0;
  z-index: 990;
}
.close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 999;
}
.close img {
  width: 16px;
  height: 16px;
}
.content {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
a:hover{
  color: red;
  cursor:pointer
}
.header {
  position: absolute;
  top: -114px;
}
.mobile {
  margin-left: 4px;
  width: 60px;
  height: 60px;
  background: #f6f6f6 url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/mobile_qrcode.png) 50% no-repeat;
  z-index: inherit;
}

.logoShow {
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  display: block;
  width: 190px;
  height: 170px;
  background-image: url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png);
  border-top: 1px solid #fff;
  box-shadow: 0px 0px  2px 2px #eee;
  position: absolute;
  top: 80px;
}
.search {
  position: absolute;
  left: 200px;
  top: 60px;
}
.shoppingCar {
  position: absolute;
  left: 890px;
  top: 140px;
} 
.header-nav ul li {
  list-style: none;
  /* position: relative; */
  /* z-index: 0; */
}
.header-nav {
  width: 840px;
  height: 40px;
  position: absolute;
  top: 215px;
  left: 218px;
  display: inline-block;
  clear: both
}
.header-nav a {
  padding: 0 15px;
  float: left;  
  line-height: 40px;
  font-size: 14px;
}
.small-banner {
  position: absolute;
  top: 200px;
  right: 80px;
  width: 190px;
  height: 40px;
  background: url(//img10.360buyimg.com/da/jfs/t27025/301/114004387/31703/3bff2d6f/5b85f11fN576c0872.gif) center no-repeat;
}
.mainNav {
  position: relative;
}
.jd-menu {
  position: absolute;
  top: 136px;
}

.swiper1 {
  width: 590px;
  height: 470px;
  margin-left: 10px;
  position: absolute;
  margin-top: 5px;
  top: 137px;
  left: 190px;
}
.banner-list {
  position: absolute;
  top: 137px;
  right: 200px;
}
.banner-item {
  margin-bottom: 12px;
}
.side-news {
  width: 190px;
  height: 470px;
  position: absolute;
  right: 0;
  top: 137px;
  background-color: #fff;
}
.user_inner {
  width: 190px;
  height: 140px;
  border-bottom: 8px solid #fff;
}
.news_item {
  width: 190px;
  height: 130px;
  background-color: #fff;
  border-bottom: 8px solid #fff;
}
.otherServer {
  width: 190px;
  height: 184px;
  background-color: #fff;
  margin-top: 10px;
}
.content .CountDown {
  position: absolute;
  top: 650px;
  width: 1190px;
  height: 275px;
  
}
.timer {
  width: 190px;
  height: 275px;
  float: left;
}
.sellGoods {
  width: 800px;
  height: 275px;
  box-sizing: border-box;
  background-color: #fff;
  float: left;  
}
.swiperGroup {
  width: 200px;
  height: 275px;
  float: right;
  box-sizing: border-box;
  background-color: #ffffff;
}
.swiperGroup-item {
  width: 180px;
  height: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 10px;
}