a:hover{
  color: red;
  cursor:pointer;
}
a{
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
.webNav-header {
  position: relative;
}
.webNav-header .down {
  position: absolute;
  right: 0;
  top: 6px;
}
.webNav-header img {
  width: 18px;
  height: 18px;
}
.webNav-content {
  width: 1190px;
  height: 200px;
  position: absolute;
  background-color: #fff;
  left: -603px;
  border: 1px solid #eee;
  border-left: 0px solid #000;
  border-top: 1px solid #fff;
  border-right: 0px;
  z-index: 999;
}
.item1 {
  width: 297px;
  box-sizing: border-box;
  /* background-color: #eee; */
  height: 200px;
  float: left;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-right: 1px solid #eee;
}
.keyWords {
  width: 170px;
  font-size: 12px;
  font-weight: 600;
  color: #666;
  padding-left: 4px;
}
.s-item {
  width: 70px;
  float: left;
  text-align: left;
  margin-left: 2px;
  
}